<div class="footer">
  <div class="footer-links ">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>

    <ul class="details">
      <li>Mon-Fri 08:00 - 17:30</li>
      <li>Call: 079480866680</li>
      <li>Email:help@carclique.com</li>
    </ul>
</div>
