<div class="footer">
  <div class="footer-links ">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="aligned">
    <div class="ptags">
      <p>Mon-Fri: 08:00-17:30</p>
    </div>
    <div class="ptags">
      <p>Email: help@carclique.com</p>
    </div>
    <div class="ptags">
      <p>Call: 079480866680</p>
    </div>
  </div>
  <div class="footer-links">
  </div>
</div>
