.card-index {
  height: 350px;
  width: 350px;
  margin: 20px;
}

.container-form-form{
  margin-top: 100px;
}

.all-cards {
  margin-bottom: 40px;
}

.card-index-new{
  display: grid;
  // grid-template-columns: 300px;
  grid-template-rows: 160px 160px 64px;
  grid-template-areas: "image" "text" "stats";
  font-family: jura;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  width: 100%;
  transition: 0.5s ease;
  cursor: pointer;
}

.card-index-show{
  display: grid;
  // grid-template-columns: 300px;
  grid-template-rows: 160px 300px 64px;
  grid-template-areas: "image" "text" "stats";
  font-family: jura;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  text-align: center;
  width: 100%;
  transition: 0.5s ease;
  cursor: pointer;
  margin-bottom: 30px;
}

.card-index-image{
  grid-area: image;
  background-position: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-index-text{
  grid-area: text;
  margin: 25px;
}
.card-index-text .date{
  color: rgb(255,7,110);
  font-size: 13px;
}

.card-index-text .p{
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.card-index-stats{
  //grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background:#003366;
}

.card-index-stats .stat{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 10px 0;
  color: white;
}

.card-index-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}

.card-index-stats .value{
  font-size: 22px;
  font-weight: 500;
}


.card-index-stats .border{
  border-left: 1px solid #746b6b!important;
  border-right: 1px solid #746b6b!important;
  border-bottom: 1px solid #003366!important;
  border-top: 1px solid #003366!important
}

.card-index-new:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6)
}

.btn-edit-delete {
  position: absolute;
  top: 400px;
  left: 32%;
}

.card-index-show {
  position: relative;
}
