.car_show_details {
  text-align: center;
}
.car_show_image{
  text-align:center;
  width:100%;
}

.radio-button-field {
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.box-shadow {
  box-shadow: 1px 0px 100px 20px rgba(0, 0, 0, 0.1);
}
