// .car_show_details {
//   text-align: center;
// }

.show_page_column{
  position: sticky;
  top: 80px;
}

.car_show_image{
  text-align:center;
  width:100%;
}

.scroll-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
  height: 100px;
  width: 100%;
}

.scroll_image {
  height: 96px;
  cursor: pointer;
  margin-right: 3px;
  margin-top: 2px;
}

#accepted-status {
  color: orange;
}

#pending-status {
  color: green;
}

.radio-button-field {
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 8px;
  margin-left: 2px;
  margin-right: 2px;
}

.box-shadow-form {
  box-shadow: 1px 0px 100px 20px rgba(0, 0, 0, 0.1);
}

.margin-for-container {
  margin-top: 80px;
}

.list-design {
  list-style: none;
  padding-left: 8px;
}

.similar-cars {
  background-color: #F7F7F5 ;
}

.rowfont {
font-family: montserrat;
}
