.btn-filter {
  background-color: #003366;
  border: 1px solid none;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color:white;
// universal button class. However, do not use the margin, was only used for the index.html.erb page button.
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-filter:hover {
  text-decoration: none;
  background-color: rgb(100,100,100);
  box-shadow: 0px 0px 4px grey;
  transition: 0.3s;
  color:white;
}

.btn-main {
  min-width: 100px;
  width: auto;
  color: white;
  border-radius:8px;
  padding: 5px;
  background-color: #003366;
  border-radius:5px;
  padding: 8px;
  margin: 0 auto;
  // justify-content
  text-align: center;
  text-decoration: none;
}

.btn-main:hover {
  text-decoration: none;
  background-color: rgb(100,100,100);
  box-shadow: 0px 0px 4px grey;
  transition: 0.3s;
  color:white;
}

.btn-secondary {
  color: white !important;
}

.bg-delete {
  background-color: rgb(100,100,100);
  }


.btn-back {
  width: 0 auto;
  color: white;
  background-color: #003366;
  border-radius:5px;
  padding: 8px;
  text-align: center;
  }

.btn-back:hover {
  // text-decoration: none;
  background-color: rgb(100,100,100);
  box-shadow: 0px 0px 4px grey;
  transition: 0.3s;
  color:white;
}
.btn-back a {
  text-decoration: none;
  // text-align:right;
  // color:white;
  }

