.footer {
  background: #888888;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(0,0,0,0.3);
  width: 100vw;
  margin-right: 30px;
}
.footer-links {
  display: flex;
  align-items: center;
  text-color: red;
  width: 100%;
  color: darkgrey;
}
.footer-links a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 40px;
}
.footer-links a:hover {
  color: lightgrey;
}
.footer .fa-heart {
  color: #D23333;
}

.contact {
}

.details {
list-style-type: none;
color: white;
// font-family: montserrat;
font-size: 18px;
margin: 16px;

}

.min-height {
  min-height: calc(100vh - 64px - 115px);
}
