.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  height: 72px;
}

.alignment {
min-width: 200px;
}

.navbar{
width: 100%;
padding-top: 24px;
padding-bottom: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-headings-center {
  display: flex;
  justify-content: space-between;
  width: 352px;
  font-family: 'Josefin Sans', sans-serif;
}

.title {
  display: flex;
  padding-right: 20px;

  h2{
  font-family: 'Jura', sans-serif;
  color: white;
  }
}

.menu {
  width: 20px;
}

.menu:hover {
  background-color: lightgrey;
}

.nav-link {
  color: white;
  font-size: 20px;
}

.login {
  color: white;
  font-size: 20px;

}
