.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  height: 64px;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  z-index: 10;
}

.navbar-lewagon-grey {
  background-color: #888888;
}


.blue-bg {
  background-color: aquamarine;
}

.alignment {
min-width: 200px;
}

.navbar{
width: 100%;
padding-top: 24px;
padding-bottom: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-headings-center {
  display: flex;
  justify-content: space-between;
  width: 352px;

}

.title {
  display: flex;
  padding-right: 20px;

  h2{
  font-family: 'Jura', sans-serif;
  color: white;
  font-size: 35px;

  }
}

.menu {
  width: 20px;
  background-color: white;
}

.menu:hover {
  background-color: lightgrey;
}

.nav-link {
  color: white;
  font-size: 22px;
  justify-content: space-between;
}
h2 {
  .nav_logo{
    text-decoration: none;
    color:white;
  }
  .nav_logo:hover{
    text-decoration: none;
  }
}

.login {
  color: white;
  font-size: 20px;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  font-size: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
