.search_bar {
  text-align: center;
  margin: auto;
  width: 32%;
  border: solid 1px lightgrey;
  position: relative;
  margin-top: 180px;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);


}

.form-control {
  border-radius: 30px;

}

.postfix {
  position: absolute;
  border-radius: 30px;
  top: 0.9px;
  right: 0.1px;
  padding-top: 4px;
  padding: 6px;
  width: 50px;
  border: white;
  background-color: #22d3e3;

}
.postfix:hover {
  transition: 0.4s;
  background-color: lightgrey;
}
